<cg>
	<!-- non-bonded interaction entry -->
	<non-bonded>
		<name>TW-TW</name> 
		<type1>TW</type1>
		<type2>TW</type2>
		<min>0</min>
		<max>1.0</max>
		<step>0.02</step>
		<inverse>
			<target>TW-TW.dist.tgt</target>
			<post_add>convergence</post_add> 
			<gromacs>
				<table>table_TW_TW.xvg</table>
			</gromacs>
		</inverse>
	</non-bonded>
	<non-bonded>
		<name>TW-TTA</name>
		<type1>TW</type1>
		<type2>TTA</type2>
		<min>0</min>
		<max>2.5</max>
		<step>0.02</step>
		<inverse>
			<target>TW-TTA.dist.tgt</target>
			<post_add>convergence</post_add>
			<gromacs>
				<table>table_TW_TTA.xvg</table>
			</gromacs>
		</inverse>
	</non-bonded>
	<non-bonded>
		<name>TW-TTB</name>
		<type1>TW</type1>
		<type2>TTB</type2>
		<min>0</min>
		<max>2.5</max>
		<step>0.02</step>
		<inverse>
			<target>TW-TTB.dist.tgt</target>
			<post_add>convergence</post_add>
			<gromacs>
				<table>table_TW_TTB.xvg</table>
			</gromacs>
		</inverse>
	</non-bonded>
	<non-bonded>
		<name>TW-TM</name>
		<type1>TW</type1>
		<type2>TM</type2>
		<min>0</min>
		<max>2.5</max>
		<step>0.02</step>
		<inverse>
			<target>TW-TM.dist.tgt</target>
			<post_add>convergence</post_add>
			<gromacs>
				<table>table_TW_TM.xvg</table>
			</gromacs>
		</inverse>
	</non-bonded>
	<bonded>
		<name>BOTA</name>
		<min>0.375716</min>
		<max>0.651905</max>
		<step>0.001</step>
		<inverse>
			<target>BOTA.dist.tgt</target>
			<gromacs>
				<table>table_b1.xvg</table>
			</gromacs>
		</inverse>
	</bonded>
	<bonded>
		<name>BOTB</name>
		<min>0.382325</min>
		<max>0.648874</max>
		<step>0.001</step>
		<inverse>
			<target>BOTB.dist.tgt</target>
			<gromacs>
				<table>table_b2.xvg</table>
			</gromacs>
		</inverse>
	</bonded>
	<bonded>
		<name>BOMM</name>
		<min>0.348624</min>
		<max>0.653686</max>
		<step>0.001</step>
		<inverse>
			<target>BOMM.dist.tgt</target>
			<gromacs>
				<table>table_b3.xvg</table>
			</gromacs>
		</inverse>
	</bonded>
	<inverse>
		<kBT>2.7437883</kBT> <!-- 330*0.00831451 -->
		<program>gromacs</program> 
		<gromacs>
			<equi_time>20</equi_time>
			<table_bins>0.002</table_bins>
			<pot_max>1000000</pot_max>
			<table_end>5.0</table_end>
			<mdrun>
				<opts>-nt 8</opts>
			</mdrun>
		</gromacs>
		<map>fortynipam_cg.xml</map>
		<map>water_cg.xml</map>
		<filelist>grompp.mdp topol.top table.xvg index.ndx</filelist>
		<convergence_check>
			<type>default</type>
			<limit>0.001</limit>
		</convergence_check>
		<iterations_max>5</iterations_max>
		<method>ibi</method>
		<log_file>inverse.log</log_file>
	</inverse>
</cg>
